@using Sitecore.Mvc
@using Glass.Mapper.Sc.Web.Mvc
@model Rio.Hotel.Project.Models.ServicesPage

@if (Model != null)
{
    var serviceImageSource = Model.ServicesImage != null && !string.IsNullOrWhiteSpace(Model.ServicesImage.Src) ? Model.ServicesImage.Src : string.Empty;
    <section id="aboutus" class="content">
        <div class="container">
            <div class="row">
                <div class="main col-xs-12">
                    <div class="single-room-carousel owl-carousel owl-theme">
                        <div class="item-single-room">
                            <div class="popup-gallery">
                                <a href="@serviceImageSource" title="Relax time">
                                    @Html.Glass().RenderImage(Model, f => f.ServicesImage, isEditable: true)
                                </a>
                            </div>
                        </div>
                        <div class="item-single-room">
                            <div class="popup-gallery">
                                <a href="@serviceImageSource" title="Relax time">
                                    @Html.Glass().RenderImage(Model, f => f.ServicesImage, isEditable: true)
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="text-left single-content">
                        <h3>@Html.Glass().Editable(Model, f => f.Title)</h3>
                        @Html.Glass().Editable(Model, f => f.Description)
                    </div>
                </div>
            </div>
        </div>
    </section>
}
