@using Sitecore.Mvc
@using Glass.Mapper.Sc.Web.Mvc
@model Rio.Hotel.Project.Models.Footer

@if (Model != null)
{
    <footer>
        <section class="clearfix footer-wrapper">
            <div class="container clearfix footer-pad">
                <div class="widget about-us-widget col-md-4 col-sm-6">
                    <a href="/">
                        @Html.Glass().RenderImage(Model, f => f.Logo, new { @class = "img-responsive" }, isEditable: true)
                        </a>
                        <p>
                            @Html.Glass().Editable(Model, f => f.Aboutus)
                        </p>
                        @using (Html.Glass().BeginRenderLink(Model, f => f.CalltoAction))
                        {
                            @Model.CalltoAction.Text <i class="fa fa-angle-double-right"></i>
                        }
                        <ul class="nav">
                            @foreach (var socialLink in Model.SocialLinks)
                            {
                                <li>
                                    @using (Html.Glass().BeginRenderLink(socialLink, f => f.Navigation_Link))
                                    {
                                        <i class="fa @socialLink.SocialIcon.ClassName"></i>
                                    }
                                </li>
                            }
                            </ul>
                    </div>
                    @if (Model.Widgets != null)
                    {
                        foreach (var widget in Model.Widgets)
                        {
                            <div class="widget widget-links col-md-2 col-sm-6">
                                <h4 class="widget_title">@Html.Glass().Editable(widget, f => f.WidgetTitle)</h4>
                                @if (widget.Links != null)
                                {
                                    <div class="widget-contact-list">
                                        <ul>
                                            @foreach (var link in widget.Links)
                                            {
                                                <li>
                                                    @Html.Glass().Editable(link, f => f.Navigation_Link)
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                }
                            </div>
                        }
                    }

                    <div class="widget get-in-touch col-md-4 col-sm-6">
                        <h4 class="widget_title">@Html.Glass().Editable(Model, f => f.SectionTitle)</h4>
                        <div class="widget-contact-list">
                            <ul>
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    <div class="fleft location_address">
                                        @Html.Glass().Editable(Model, f => f.Address)
                                    </div>

                                </li>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <div class="fleft contact_no">
                                        <a href="tel:@Model.Phone1">@Html.Glass().Editable(Model, f => f.Phone1)</a><a href="tel:@Model.Phone2">@Html.Glass().Editable(Model, f => f.Phone2)</a>
                                    </div>
                                </li>
                                <li>
                                    <i class="fa fa-envelope-o"></i>
                                    <div class="fleft contact_mail">
                                        <a href="mailto:@Model.Email">@Html.Glass().Editable(Model, f => f.CopyrightText)</a>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <div class="container clearfix footer-b-pad">
                <div class="footer-copy">
                    <div class="pull-left fo-txt">
                        <p>@Html.Glass().Editable(Model, f => f.CopyrightText)</p>
                    </div>
                </div>
            </div>
        </footer>
    }