@using Sitecore.Mvc
@using Glass.Mapper.Sc.Web.Mvc
@model Rio.Hotel.Project.Models.Header

@if (Model != null)
{
    var backgroundImage = Model.BackgroundImage != null ? Model.BackgroundImage.Src : string.Empty;

    <div id="header-background" style="background:url('@backgroundImage') no-repeat scroll center top / cover">
        <div id="topbar" class="topbar-transparent">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="top-menu">
                            @if (!string.IsNullOrWhiteSpace(Model.Phone))
                            {
                                <li><a href="#">Phone: @Html.Glass().Editable(Model, f => f.Phone)</a></li>
                            }
                            @if (!string.IsNullOrWhiteSpace(Model.Email))
                            {
                                <li><a href="#">Email: @Html.Glass().Editable(Model, f => f.Email)</a></li>
                            }
                            @if (!string.IsNullOrWhiteSpace(Model.Address))
                            {
                                <li><a href="#">Address: @Html.Glass().Editable(Model, f => f.Address)</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <header id="header" class="header-transparent">
            <div id="header-wrap">
                <div class="container">
                    <div id="logo">
                        <a href="/" class="logo" data-dark-logo="images/logo-dark.png">
                            @Html.Glass().RenderImage(Model, f => f.Logo, isEditable: true)                            
                        </a>
                    </div>
                    @if (Model.HeaderNavigation != null && Model.HeaderNavigation.TopNavigations != null
                        && Model.HeaderNavigation.TopNavigations.Count > 0)
                    {
                        <div class="container">
                            <nav id="hmenu">
                                <div id="head-mobile"></div>
                                <div class="button"></div>
                                <ul>
                                    @foreach (var item in Model.HeaderNavigation.TopNavigations)
                                    {
                                        <li class='@item.ActiveClass'><a href='@item.NavigationLink'>@item.NavigationTitle</a></li>

                                        @*<li>
                                                <a href='#rooms'>Rooms</a>
                                                <ul>
                                                    <li><a href='room-grid.html'>Room Grid</a> </li>
                                                    <li><a href='room-list.html'>Room List</a> </li>
                                                    <li><a href='single-room.html'>Single Room</a> </li>
                                                </ul>
                                            </li>*@
                                    }
                                </ul>
                            </nav>
                        </div>
                    }
                </div>
            </div>
        </header>
     
        @Html.Sitecore().Placeholder("header-content")
    </div>
}