@using Sitecore.Mvc
@using Glass.Mapper.Sc.Web.Mvc
@model Rio.Hotel.Project.Models.Room

@if (Model != null)
{
    <section id="room-single-section" class="content-room-single">
        <div class="container">
            <div class="col-md-6 col-sm-12 col-xs-12">
                @if (Model.Images != null)
                {
                    <div class="single-room-carousel owl-carousel owl-theme">
                        @foreach (var hotelImage in Model.Images)
                        {
                            if (hotelImage != null)
                            {
                                <div class="item-single-room">
                                    <div class="popup-gallery">
                                        <a href="@hotelImage.Src" title="Relax time">
                                            <img src="@hotelImage.Src" height="@hotelImage.Height" width="@hotelImage.Width"
                                                 alt="@hotelImage.Alt">
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                }
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="room-extra-service">
                    <div class="row">
                    </div>
                    @foreach (var facility in Model.Facilities)
                    {
                        <div class="col-lg-2 col-sm-3 col-xs-6 center">
                            <span class="fa @facility.Icon.ClassName" data-toggle="tooltip"
                                  title="@facility.ToolTip"></span><br /> <span class="center">
                                @Html.Glass().Editable(facility, f => f.Name)
                            </span>
                        </div>
                    }
                </div>
                <h2>More info about our room</h2>
                @Html.Glass().Editable(Model, f => f.Description)                
            </div>
        </div>
    </section>
}