@using Sitecore.Mvc
@using Glass.Mapper.Sc.Web.Mvc
@model Rio.Hotel.Project.Models.RoomCarousel

@if (Model != null && Model.Rooms != null)
{
    <section class="room-section" id="rooms">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <div class="section_title">
                        <h2>@Html.Glass().Editable(Model, f => f.Title)</h2>
                        <h3>@Html.Glass().Editable(Model, f => f.SubTitle)</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- row end -->
        <div class="container">
            <div class="row">
                <div class="room-carousel owl-carousel owl-theme">
                    @foreach (var room in Model.Rooms)
                    {
                        <div class="item-room">
                            <div class="room-image">
                                @if (room.ThumbnailImage != null)
                                {
                                    <img src="@room.ThumbnailImage.Src" />
                                }
                            </div>
                            <div class="room-text">
                                <a href="@room.Url"><h2>@Html.Glass().Editable(room, f => f.Name)</h2></a>
                                <span>@Html.Glass().Editable(room, f => f.Special)</span>
                                <p>
                                    @Html.Glass().Editable(room, f => f.Summary)
                                </p>
                            </div>
                            <div class="ro-text-two">
                                <div class="room-book pull-left">
                                    <a href="@room.Url" class="res-btn">Book now</a>
                                </div>
                                <div class="room-price pull-right">
                                    <p>@Html.Glass().Editable(room, f => f.PricePerNight) $<br /><span>Per Night</span></p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
}